@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/*
CSS Reset received from:
https://ehtmlu.com/blog/a-simple-css-reset/ */

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
    box-sizing: border-box;
}
  
  html {
    font-size: 62.5%;
}

  /* end of reset source -- I added box-sizing: border-box*/
body {
    background-image: url(space.jpeg);
    background-size: cover;
    color: white;
    font-size: 250%;
    font-family: 'Work Sans', sans-serif;
}
#photo-title {
    text-transform: uppercase;
}
#photo-title, #copyright, #date {
      text-align: center;
      margin: 5px;
      padding: 10px
  }
#explanation {
      text-align: center;
      font-size: 18px;
      padding-bottom: 20px;
      margin: 20px;
}
#apod-button {
    background-color: #4f3d5f;
    padding: 10px;
    margin-top: 10px;
    color: #fff
}
#apod-button:hover {
    background-color: #ac99be;
        border: 1px solid #000;
      }
#apod-button:active {
        box-shadow: 2px 2px 2px 1px #000;
        border: none;
        background-color: #4f3d5f;
      }

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*Want to use relative size to make smaller*/
    height: 400px;
}
